<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Generaciones</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="changeMessage({region: 'kanto', limit : 151, offset: 0})">Kanto</a>
      <a mat-list-item href="#" (click)="changeMessage({region: 'jotho', limit : 100, offset: 151})">Johto</a>
      <a mat-list-item href="#" (click)="changeMessage({region: 'jotho', limit : 135, offset: 251})">Hoenn</a>
      <a mat-list-item href="#" (click)="changeMessage({region: 'sinnoh', limit : 107, offset: 386})">Sinnoh</a>   
      <a mat-list-item href="#" (click)="changeMessage({region: 'teselia', limit : 156, offset: 493})">Teselia</a>
      <a mat-list-item href="#" (click)="changeMessage({region: 'kalos', limit : 72, offset: 649})">Kalos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Pokedex Versión en Angular</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  
  </mat-sidenav-content>
</mat-sidenav-container>
