<div class="container my-2">
  <div class="row">
    <ng-container *ngIf="!status.data">
      <div class="col-12 col-md-4">
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '80px', height: '80px' }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
         
        </div>
        
        
      </div>
      <div class="col-12 col-md-4">
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '80px', height: '80px' }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
         
        </div>
        
        
      </div>
      <div class="col-12 col-md-4">
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '80px', height: '80px' }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
         
        </div>
        
        
      </div>
      <div class="col-12 col-md-4">
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '80px', height: '80px' }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
         
        </div>
        
        
      </div>
      <div class="col-12 col-md-4">
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '80px', height: '80px' }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
         
        </div>
        
        
      </div>
      <div class="col-12 col-md-4">
        <div class="fb-item">
          <div class="first-section-wrapper">
            <div class="gravatar">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '80px', height: '80px' }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="gravatar-title">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
         
        </div>
        
        
      </div>

    </ng-container>
    
      <ng-container *ngIf="status.data">
      <div class="col-12">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate" [formControl]="comment"  (keyup)="getFilter()">
          <label for="icon_prefix">Buscar Pokémon</label>
        </div>
      </div>
      </ng-container>


    <ng-container *ngFor="let item of filter; let i = index;">
      <ng-container *ngIf="status.data">

       
        
        <div class="col-12 col-md-4">
          <div class="card darken-1">
            <div class="card-content pt-1">
              <img  src="{{item.data.sprites.front_default}}" alt="{{item.name}} Photo">
    
              <span class="card-title activator grey-text text-darken-4 text-capitalize">{{item.name}}<i class="material-icons right">more_vert</i></span>
              <mat-chip-list aria-label="Fish selection">
                <ng-container *ngFor="let types of item.data.types; let i = index;">
                  <mat-chip>{{types.type.name}}</mat-chip>
                </ng-container>
              </mat-chip-list>
            </div>
            <div class="card-reveal py-3">
              <span class="card-title grey-text text-darken-4 text-capitalize">{{item.name}}<i class="material-icons right">close</i></span>
              <p>Pokémon N° {{item.data.id}}</p>
              <div class="card-action px-0 pb-0">
                <a href="#">Ver más</a>
              </div>
            </div>
           
          </div>
        </div>
      </ng-container>

    </ng-container>

   
    
  </div>
</div> 

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
