<div class="container my-2">
  <div class="row">
    <ng-container *ngIf="!status.data">
      <div class="col-12">
        <app-skeleton></app-skeleton>
      </div>
    </ng-container>
    
      <ng-container *ngIf="status.data">
      <div class="col-12">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate" [formControl]="comment"  (keyup)="getFilter()">
          <label for="icon_prefix">Buscar Pokémon</label>
        </div>
      </div>
      </ng-container>


    <ng-container *ngFor="let item of filter; let i = index;">
      <ng-container *ngIf="status.data">

        <div class="col-12 col-md-4">
          <app-pokemon [item]="item.data" [showButton] = "true"> </app-pokemon>
        </div>
      
      </ng-container>

    </ng-container>

   
    
  </div>
</div> 

<app-footer></app-footer>